{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="tableHead">Make column name bold</label>
    <input type="checkbox" id="tableHead" data-key="head" {{checked head}} />
</div>

<div class="custom-system-form-field">
    <label for="tableDeleteWarning">Show confirmation dialog on row delete</label>
    <input type="checkbox" id="tableDeleteWarning" data-key="deleteWarning" {{checked deleteWarning}} />
</div>

<div class="custom-system-form-field">
    <label for="tableCanPlayerAdd">Can players add rows in the table?</label>
    <input type="checkbox" id="tableCanPlayerAdd" data-key="canPlayerAdd" {{checked canPlayerAdd}} />
</div>

<div class="custom-system-form-field"><h3>Sort entries</h3></div>
<div class="custom-system-form-field">
    <label>Sort options*</label>
    <div class="custom-system-form-field">
        <div>
            <label for="sortAuto">Auto</label>
            <input
                type="radio"
                id="sortAuto"
                value="auto"
                name="tableSortOption"
                {{checked (eq sortOption 'auto')}}
            />
        </div>
        <div>
            <label for="sortManual">Manual</label>
            <input
                type="radio"
                id="sortManual"
                value="manual"
                name="tableSortOption"
                {{checked (eq sortOption 'manual')}}
            />
        </div>
        <div>
            <label for="sortDisabled">Disabled</label>
            <input
                type="radio"
                id="sortDisabled"
                value="disabled"
                name="tableSortOption"
                {{checked (eq sortOption 'disabled')}}
            />
        </div>
    </div>
</div>

<div class="custom-system-sort-auto" style="{{#unless (eq sortOption 'auto')}}display: none;{{/unless}}">
    <div class="custom-system-form-field"><h4>Add sorting criteria:</h4></div>
    <div class="custom-system-form-field">
        <table id="custom-system-table-sort-predicates">
            <thead>
            <tr>
                <td>Column key*</td>
                <td>Op.*</td>
                <td>Value</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {{#each sortPredicates}}
            <tr class="custom-system-table-sort-predicate">
                <td><input type="text" name="tableSortProp" style="width: 130px" value="{{this.prop}}" /></td>
                <td>
                    <select name="tableSortOp" id="tableSortOp_{{@index}}" style="width: 70px">
                        {{#select this.operator}}
                        <option value="lt">ASC</option>
                        <option value="gt">DESC</option>
                        <option value="eq">==</option>
                        <option value="neq">!=</option>
                        {{/select}}
                    </select>
                </td>
                <td><input type="text" name="tableSortValue" style="width: 130px" value="{{this.value}}" /></td>
                <td>
                    <a class="custom-system-delete-sort-predicate"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <a id="custom-system-add-sort-predicate"><i class="fas fa-plus-circle"></i></a>
    </div>
</div>

<div class="custom-system-sort-column" style="{{#unless (eq sortOption 'column')}}display: none;{{/unless}}"></div>
<div class="custom-system-sort-manual" style="{{#unless (eq sortOption 'manual')}}display: none;{{/unless}}"></div>
<div class="custom-system-sort-disabled" style="{{#unless (eq sortOption 'disabled')}}display: none;{{/unless}}"></div>
