{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="itemTitle"> Table title</label>
    <input type="text" id="itemTitle" data-key="title" value="{{title}}" />
</div>

<div class="custom-system-form-field">
    <label for="itemNameLabel">Item reference column label</label>
    <input id="itemNameLabel" type="text" data-key="nameLabel" value="{{nameLabel}}" />
</div>

<div class="custom-system-form-field">
    <label for="itemNameAlign">Item reference column alignment*</label>
    <select id="itemNameAlign" data-key="nameAlign">
        {{#select nameAlign}}
        <option value="left">Left</option>
        <option value="center">Center</option>
        <option value="right">Right</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="itemHideEmpty">Hide empty</label>
    <input type="checkbox" id="itemHideEmpty" data-key="hideEmpty" {{checked hideEmpty}} />
</div>

<div class="custom-system-form-field">
    <label for="itemHeadDisplay">Display column names</label>
    <input type="checkbox" id="itemHeadDisplay" data-key="headDisplay" {{checked headDisplay}} />
</div>

<div class="custom-system-form-field">
    <label for="itemHead">Make column name bold</label>
    <input type="checkbox" id="itemHead" data-key="head" {{checked head}} />
</div>

<div class="custom-system-form-field">
    <label for="itemDeleteWarning">Show item delete button</label>
    <input type="checkbox" id="itemShowDelete" data-key="showDelete" {{checked showDelete}} />
</div>

<div class="custom-system-form-field">
    <label for="itemDeleteWarning">Show confirmation dialog on item delete</label>
    <input type="checkbox" id="itemDeleteWarning" data-key="deleteWarning" {{checked deleteWarning}} />
</div>

<div class="custom-system-form-field">
    <label for="itemStatusIcon">(GM only) Show item status</label>
    <input type="checkbox" id="itemStatusIcon" data-key="statusIcon" {{checked statusIcon}} />
</div>

<div class="custom-system-form-field"><h3>Sort items</h3></div>
<div class="custom-system-form-field">
    <label>Sort options*</label>
    <div class="custom-system-form-field">
        <div>
            <label for="sortAuto">Auto</label>
            <input
                type="radio"
                id="sortAuto"
                value="auto"
                name="containerSortOption"
                {{checked (eq sortOption "auto")}}
            />
        </div>
        <div>
            <label for="sortManual">Manual</label>
            <input
                type="radio"
                id="sortManual"
                value="manual"
                name="containerSortOption"
                {{checked (eq sortOption "manual")}}
            />
        </div>
        <div>
            <label for="sortDisabled">Disabled</label>
            <input
                type="radio"
                id="sortDisabled"
                value="disabled"
                name="containerSortOption"
                {{checked (eq sortOption "disabled")}}
            />
        </div>
    </div>
</div>

<div class="custom-system-sort-auto" style="{{#unless (eq sortOption 'auto')}}display: none;{{/unless}}">
    <div class="custom-system-form-field"><h4>Add sorting criteria:</h4></div>
    <div class="custom-system-form-field">
        <table id="custom-system-sort-predicates">
            <thead>
            <tr>
                <td>Field key*</td>
                <td>Op.*</td>
                <td>Value</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {{#each sortPredicates}}
            <tr class="custom-system-sort-predicate">
                <td><input type="text" name="sortProp" style="width: 130px" value="{{this.prop}}" /></td>
                <td>
                    <select name="sortOp" id="sortOp_{{@index}}" style="width: 70px">
                        {{#select this.operator}}
                        <option value="lt">ASC</option>
                        <option value="gt">DESC</option>
                        <option value="eq">==</option>
                        <option value="neq">!=</option>
                        {{/select}}
                    </select>
                </td>
                <td><input type="text" name="sortValue" style="width: 130px" value="{{this.value}}" /></td>
                <td>
                    <a class="custom-system-delete-sort-predicate"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <a id="custom-system-add-sort-predicate"><i class="fas fa-plus-circle"></i></a>
    </div>
</div>

<div class="custom-system-sort-manual" style="{{#unless (eq sortOption 'manual')}}display: none;{{/unless}}"></div>
<div class="custom-system-sort-disabled" style="{{#unless (eq sortOption 'disabled')}}display: none;{{/unless}}"></div>

<div class="custom-system-form-field"><h3>Filter items</h3></div>
<div class="custom-system-form-field"><h4>Select templates:</h4></div>
<div class="custom-system-form-field">
    <div
        style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            align-items: center;
        "
    >
        {{#each availableTemplates}}
        <span>
            <input
                type="checkbox"
                id="{{this.id}}"
                value="{{this.id}}"
                name="itemFilterTemplate"
                {{checked this.checked}}
            />
            <label for="{{this.id}}">{{this.name}}</label>
        </span>
        {{/each}}
    </div>
</div>

<div class="custom-system-form-field">
    <label for="itemFilterFormula">Item filter formula without ${}$
    </label>
    <textarea id="itemFilterFormula" data-key="itemFilterFormula">{{itemFilterFormula}}</textarea>
</div>
