{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="textFieldLabel">Label</label>
    <input id="textFieldLabel" type="text" data-key="label" value="{{label}}" />
</div>

<div class="custom-system-form-field">
    <label for="textFieldSize">Size*</label>
    <select id="textFieldSize" data-key="size">
        {{#select size}}
        <option value="full-size">Auto</option>
        <option value="x-small">Tiny</option>
        <option value="small">Smaller</option>
        <option value="m-small">Small</option>
        <option value="medium">Medium</option>
        <option value="m-large">Large</option>
        <option value="large">Larger</option>
        <option value="x-large">Gigantic</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="textFieldCharList">Allowed character list</label>
    <input id="textFieldCharList" type="text" data-key="charList" value="{{charList}}" />
</div>

<div class="custom-system-form-field">
    <label for="textFieldMaxLength">Maximum length</label>
    <input id="textFieldMaxLength" type="number" data-key="maxLength" value="{{maxLength}}" />
</div>

<div class="custom-system-form-field">
    <label for="textFieldValue">Default value
        <i class="fas fa-info-circle" title="Allows Formulas. Is only relevant at creation-time (no auto-updates)"></i>
    </label>
    <input id="textFieldValue" type="text" data-key="defaultValue" value="{{defaultValue}}" />
</div>

<div class="custom-system-form-field">
    <label for="textFieldAutocomplete">Autocomplete formula
        <i class="fas fa-info-circle" title="This field should contain the autocomplete values separated with commas (,). It can contain formulas."></i>
    </label>
    <input id="textFieldAutocomplete" type="text" data-key="autocomplete" value="{{autocomplete}}" />
</div>
